.list {
    color: black;
    border: 1px solid #08fa30;
    border-radius: 6px;
    width: 100px;
    margin: 15px;
    cursor: pointer;
}
    .list:hover {
        background-color: #258109;
        color: white;
    }

    .list:active {
    background-color: #8023565b;
    box-shadow: 0 5px #666;
    transform: translateY(5px 10px);
    }